{% extends 'base.html' %}

{% block title %}RateMyBoilerHousing{% endblock %}

{% block content %}
<h2>Housing Options</h2>

{% for housing in housing_options %}
    <div class="col-md-4">
        <a href="{% url 'housing_detail' housing.id %}" class="text-decoration-none text-dark">
            <div class="card mb-4 card-hover">
                <div class="card-body">
                    <h5 class="card-title">{{ housing.name }}</h5>
                    <p class="card-text">{{ housing.address }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}