{% extends 'base.html' %}

{% block title %}RateMyBoilerHousing{% endblock %}

{% block content %}
<h1>RateMyBoilerHousing</h1>

<h2>Offerings for {{ object }}</h2>

{% for offering in object.offerings.all %}
    <div class="col-md-4">
        <a href="{% url 'offering_detail' offering.id %}" class="text-decoration-none text-dark">
            <div class="card mb-4 card-hover">
                <div class="card-body">
                    <h5 class="card-title">{{ offering }}</h5>
                    <p class="card-text">{{ offering.get_review_count }} reviews</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}