{% extends 'base.html' %}

{% block title %}RateMyBoilerHousing{% endblock %}

{% block style %}
.card-hover {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
{% endblock %}

{% block content %}
<h1>RateMyBoilerHousing</h1>

<h2>Offerings for {{ object }}</h2>

{% for offering in object.offerings.all %}
    <div class="col-md-4">
        <a href="" class="text-decoration-none text-dark">
            <div class="card mb-4 card-hover">
                <div class="card-body">
                    <h5 class="card-title">{{ offering }}</h5>
                    <p class="card-text">{{ offering.get_review_count }} reviews</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}