{% extends 'base.html' %}

{% block title %}RateMyBoilerHousing{% endblock %}

{% block content %}
<h2>Reviews for {{ object }}</h2>

<button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'offering_write_review' object.id %}'">
    <i class="bi bi-pencil-square"></i> Write your own review
</button>

{% if object.has_reviews %}
    {% for review in object.reviews.all %}
        <div class="col-md-4">
            <a class="text-decoration-none text-dark">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.user.username }}'s review</h5>
                        <p class="card-text">{{ review.get_normalized_star_count }} stars</p>
                        <p class="card-text">{{ review.description }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% else %}
    <p>This housing offering doesn't have any reviews. Why don't you write one?</p>
{% endif %}

{% endblock %}